{% extends "base.html" %}
{% block title %}Event creation{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Create an event!</h3>
    <div class="form-group">
        <label fpr="rname">Regatta name</label>
        <input 
            type="text" 
            class="form-control" 
            id="rname" 
            name="rname" 
            placeholder="Enter name" 
        />
    </div>
    <div class="form-group">
        <label fpr="country">Country</label>
        <input 
            type="text" 
            class="form-control" 
            id="country" 
            name="country" 
            placeholder="Enter country" 
        />
    </div>
    <div class="form-group">
        <label fpr="place">Place</label>
        <input 
            type="text" 
            class="form-control" 
            id="place" 
            name="place" 
            placeholder="Enter place" 
        />
    </div>
    <div class="form-group">
        <label fpr="adress">Adress</label>
        <input 
            type="text" 
            class="form-control" 
            id="adress" 
            name="adress" 
            placeholder="Enter adress" 
        />
    </div>
    <div class="form-group">
        <label fpr="rdate">Date</label>
        <input 
            type="date" 
            class="form-control" 
            id="rdate" 
            name="rdate"
        />
    </div>
    <div class="form-group">
        <label fpr="rtime">Regatta start</label>
        <input 
            type="time" 
            class="form-control" 
            id="rtime" 
            name="rtime"
        />
    </div>
    <div class="form-group">
        <label fpr="reginfo">Info</label>
        <textarea
            class="form-control" 
            id="reginfo" 
            name="reginfo" 
        >Regatta description</textarea>
    </div>
    <label for="sponsors">Sponsors (max 6):</label>
    <div id="sponsors-container">
        <div class="sponsor">
            <input type="text" name="sponsorName_1" placeholder="Sponsor name" required>
            <input type="text" name="donation_1" placeholder="Donation" required>
        </div>
    </div>

    <button type="button" onclick="addsponsor()">Dodaj członka</button>
    <button 
        type="submit" 
        class="btn btn-primary">Submit</button>
</form>


<script>
    function addSponsor() {
        const sponsorsContainer = document.getElementById('sponsors-container');
        const sponsorDiv = document.createElement('div');
        sponsorDiv.className = 'sponsor';

        const sponsorInput = document.createElement('input');
        sponsorInput.type = 'text';
        sponsorInput.name = `sponsorName_${sponsorsContainer.childElementCount + 1}`;
        sponsorInput.placeholder = 'Sponsor name';
        sponsorInput.required = true;
        sponsorDiv.appendChild(sponsorInput);

        const donationInput = document.createElement('input');
        donationInput.type = 'text';
        donationInput.name = `donation_${sponsorsContainer.childElementCount + 1}`;
        donationInput.placeholder = 'Donation';
        donationInput.required = true;
        sponsorDiv.appendChild(donationInput);

        sponsorsContainer.appendChild(sponsorDiv);
    }
</script>
{% endblock %}